html{
    font-family: Arial, Helvetica, sans-serif;
    background: #C9CCD5;
}
main{
    border-radius: 20px;
    width: 50%;
    min-width: 500px;
    margin: 1rem auto;
    padding: 1rem;
    background: #FBE5E5;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

section{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin-bottom: 2rem;
    
}

.form {
  position: relative;
  z-index: 1;
  max-width: auto;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;

}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #C9CCD5;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 20px;
  color :#005792 ;
}

.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #93B5C6;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 16px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}



#forecast-weather{
    margin-top: 4rem;
    justify-content: space-evenly;
}
#forecast-weather div{
    margin: 0 1rem;
    text-align: center;
}
#forecast-weather img{
    width: 60px;
}
p{
    margin: 0;
}